@use "../../global" as *;

.lowNews {
  background: var(--background);
  overflow: hidden;
  &.news {
    padding: 0;
    margin: 0;
  }
  &__title {
    align-items: center !important;
    margin-bottom: fluidSize(5, 2.5, 120, 24.375);
    h1 {
      color: #fffcee;
      text-align: center;
      font-family: "Lilita One";
      font-size: fluidSize(6, 4, 120, 24.375);
      font-style: normal;
      font-weight: 400;
      line-height: fluidSize(5, 4, 120, 24.375);
      text-transform: uppercase;
      margin-bottom: fluidSize(2.5, 1.25, 120, 24.375);
    }
    p {
      color: #fffcee;
      text-align: center;
      font-family: "M PLUS Rounded 1c";
      font-size: fluidSize(1.5, 1.25, 120, 24.375);
      font-style: normal;
      font-weight: 900;
      line-height: fluidSize(1.25, 1, 120, 24.375); /* 83.333% */
      text-transform: uppercase;
    }
  }
  .bg {
    padding-top: fluidSize(18, 8, 120, 24.375);
    padding-bottom: fluidSize(10, 5, 120, 24.375);
  }
  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: fluidSize(1.25, 1, 120, 24.375);
    margin-top: fluidSize(5, 2.5, 120, 24.375);
    .page-numbers {
      width: fluidSize(3.125, 2.5, 120, 24.375);
      height: fluidSize(3.125, 2.5, 120, 24.375);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #fffcee;
      color: #878787;
      text-align: center;
      font-family: "M PLUS Rounded 1c";
      font-size: fluidSize(1.5, 1.25, 120, 24.375);
      font-style: normal;
      font-weight: 900;
      line-height: 1.5rem; /* 100% */
    }
    .current {
      color: #e5005a;
      background: #fdd000;
    }
    .next {
      display: none;
    }
    .prev {
      display: none;
    }
  }
}
