@use "../global" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: fluidSize(5, 1.87, 120, 24.375) fluidSize(3.75, 1.88, 120, 24.375);
  pointer-events: none;
  z-index: 5;
  &__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  &__logo {
    pointer-events: all;
    cursor: pointer;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    img {
      width: fluidSize(5.125, 2.92856, 120, 24.375);
      height: auto;
    }
    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  &__global-menu {
    @include mq(lg, max) {
      display: none;
    }
  }
}

.global-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  // gap fallback
  > * + * {
    margin-left: fluidSize(2.5, 1, 120, 24.375);
  }
  @supports (gap: 1rem) {
    gap: fluidSize(2.5, 1, 120, 24.375);
    > * + * {
      margin-left: 0;
    }
  }
  &__item {
    pointer-events: all;
    cursor: pointer;
    position: relative;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}
.menu-toggle {
  pointer-events: all;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  @include mq(lg, min) {
    display: none !important;
  }
}
.hamburger {
  display: none;
  @include mq(lg, max) {
    display: block;
  }
}

.hamburger {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fffcee;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-transform: scale(0);
  transform: scale(0);
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  &.open {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  &__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    // gap fallback
    > * + * {
      margin-top: 5rem;
    }
    @supports (gap: 1rem) {
      gap: 5rem;
      > * + * {
        margin-top: 0;
      }
    }
  }
  &__item {
    text-align: center;
    font-family: "Lilita One";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; /* 100% */
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    a {
      color: #1d333d;
      -webkit-transition: 0.3s all ease-in-out;
      transition: 0.3s all ease-in-out;
      &:hover {
        color: #e5005a;
      }
    }
  }
}
